@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

* {
    margin: 0px;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.navbar {
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.3);
}

.navbar-nav {
    text-transform: uppercase;
}

.navbar-nav .nav-link:hover {
    color: purple;
}

.navbar-nav .nav-link.active {
    color: red;
}