body {
    background: #F0F0F0;
}

div#janela ul {
    width: 1080px;
    margin: 0 auto;
    padding: 0;
}

div#janela ul li.principal {
    position: relative;
    list-style: none;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    width: 320px;
    height: 180px;
}

div#janela ul li.principal div.foto {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 180px;
    z-index: 1;
    clip: rect(0 320px 180px 0);
}

div#janela ul li.principal div.foto div.legenda {
    position: absolute;
    top: 160px;
    left: 0;
    width: 320px;
    height: 150px;
    padding: 5px;
    z-index: 2;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

div#janela ul li.principal div.foto div.legenda:hover {
    top: 60px;
    transition: all 0.5s ease-out 0s;
}

div#janela ul li.principal div.foto div.legenda h5 {
    font-family: sans-serif;
    font-size: small;
    text-transform: uppercase;
    font-weight: 100;
    color: aqua;
    margin: 0;
}

div#janela ul li.principal div.foto div.legenda p {
    font-family: sans-serif;
    font-size: 0.7rem;
    color: aliceblue;
}