body {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.25;
}

h2 {
    font-family: sans-serif;
}

table, th, tr, td {
    margin: auto; 
    padding: 10px; 
    border: 1px solid black; 
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}

tr td:nth-child(2), td:nth-child(3) { text-align: left; }